// global
body {
	height: 100vh;
	@include flexbox;
  @include flex-direction(column);

  background: #a90329;
background: -moz-linear-gradient(-45deg,  #a90329 0%, #8f0222 44%, #6d0019 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
background: -webkit-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%);
background: -o-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%);
background: -ms-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%);
background: linear-gradient(135deg,  #a90329 0%,#8f0222 44%,#6d0019 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );

}
main {
	@include flexbox;
	@include flex(1);
  @include flex-direction(column);
}
section {
	@include flex(1);
}

// login page
#login {
	@include flexbox;
	@include align-items(center);
	@include justify-content(center);
	overflow: hidden;
	form {
		min-width: 50%;
	}
	input {
		width: 100%;
	}
	button {
		width: 48%;
		&:last-of-type {
			float: right;
		}
	}
}
.form-group {
  margin-bottom: 1rem;
  label {
	  display: block;
	  font-size: 1.17rem;
	  font-weight: bold;
	  margin-bottom: .5rem;
  }
  input {
  	display: block;
  	padding: .5rem;
  }
  &:last-of-type {
  	margin: 0;
  }
}

// track 
.track {
	margin: 0;
}
.track-art {
	vertical-align: bottom;
	display: inline-block;
}
.track-meta {
	vertical-align: bottom;
	display: inline-block;
}

// now playing
.now-playing {
	vertical-align: top;
  display: inline-block;
}
#now-playing {
  @include flex(0 0 11rem);
  color: white;
  padding: 1rem;
  song {
  	margin-top: 1rem;
  	display: block;
  }
  .track-art {
		width: 5rem;
		height: 5rem;
		margin-right: 1rem;
	}
}

// queue
#queue {
  @include flex(1);
  overflow-y: auto;
  ol {
  	list-style: none;
  	margin: 0; padding: 0;
  }
  li {
		@include flexbox;
		@include flex-direction(row);
		margin: 1rem 1rem 1rem 0;
  }
  points, vote {
	  @include flex(0 0 auto);
  }
  song {
  	@include flex(1);
  	background: rgba(0,0,0,.8);
  	padding: .5rem;
  }
  points, vote {
		width: 4rem;
		font-size: 1.5rem;
		text-align: center;
		padding: .3rem 0;
		i {
			display: block;
		}
  }
  points {
  	
  }
  .track-art {
		width: 2.5rem;
		height: 2.5rem;
		margin-right: .5rem;
	}
	.track-name {
    font-size: 1rem;
	}
	.track-extra {
		font-weight: 400;
		font-size: .75rem;
	}
}