<section id="about">
    <h1>Chausage</h1>
    <h2>Powered by Rdio</h2>
    <p>Rdio is the groundbreaking digital music service that is reinventing the way people discover, listen to, and share music. With on-demand access to over 25 million songs, Rdio connects people with music and makes it easy to search for and instantly play any song, album, artist, or playlist.</p>
    <p>Launched in August 2010, Rdio is headquartered in San Francisco and was founded by Janus Friis, the co-creator of Skype. Available in countries all over the world, Rdio is funded by Janus Friis through his investment entities.</p>
</section>