<section id="now-playing">
  <song art="{{ Queue.playing.art }}" name="{{ Queue.playing.name }}" extra="Submitted by {{Queue.playing.user.name}}"></song>
</section>
<section id="queue">
    <ol>
        <li ng-repeat="entry in Queue.list">
            <vote ng-if="!entry.voted">
                <i class="fa fa-arrow-up arrow-up" ng-click="Queue.vote(true)"></i>
                <i class="fa fa-arrow-down arrow-down" ng-click="Queue.vote(false)"></i>
            </vote>
            <points votes="entry.votes" ng-if="!!entry.voted"></points>
            <song art="{{ entry.art }}" name="{{ entry.name }}" extra="Submitted by {{ entry.user.name }}"></song>
            <i class="info" ng-click="toggle.info = !toggle.info"></i>
            <song-info data="entry" ng-if="toggle.info"></song-info>
        </li>
    </ol>
</section>